services:
  postgres:
    image: pgvector/pgvector:pg15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: sks_password
      POSTGRES_DB: sks
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - sks_network

volumes:
  postgres_data:

networks:
  sks_network:
    driver: bridge
